
body {
  overflow: hidden;
  margin: 0px;
}

.body {
  height: calc(100vh - 56px);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 128px 128px 128px 128px 128px 128px 128px 128px 128px 128px;
  grid-template-rows: 128px 128px 128px 128px 128px 128px 128px 128px 128px 128px;
  background-color: floralwhite;
}

.grid-item {
  position: relative;
  color: rgba(0, 0, 0, 0.25);
  border: 1px dashed rgba(0, 0, 0, 0.25);
  padding: 0px 10px 0px 10px;
  font-size: 30px;
}

.background-sprite {
  position: absolute;
  z-index: 1;
  left: -1px;
  top: -1px;
}

img.crispy {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}