
body {
  overflow: hidden;
  margin: 0px;
}

.navbar {
  height: 56px;
}

.body {
  height: calc(100vh - 56px);
}

.welcome {
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.jumbotron {
  margin: auto;
  /*max-width: 60ch;*/
  max-height: 24rem;
}

.grid {
  overflow-y: scroll;
  display: grid;
  background-color: floralwhite;
}

div.cell {
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  border: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 0px 10px 0px 10px;
  font-size: 30px;
}

img.tile {
  position: absolute;
  left: -1px;
  top: -1px;
}

img.sprite {
  cursor: move;
  position: absolute;
  z-index: 1;
  left: -1px;
  top: -1px;
}

img.crispy {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

img.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

img.rotate-1 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

img.rotate-2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

img.rotate-3 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

img.rotateLeft {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#brand {
  cursor: pointer;
}

.btn-separator:after {
  content: ' ';
  display: block;
  height: 100%;
  width: 3px;
}

.btn-xlg {
  padding: 32px 28px;
  font-size: 24px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.form-control-xlg {
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.75;
  border-radius: .3rem;
}

button.main {
  width: 46%;
}

.alert-sm {
  padding: .5rem 1rem;
}

.quizno {
  opacity: 1;
  z-index: 1000;
  min-width: 150px;
  height:auto;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: #404040;
  color: #F0F0F0;
  font-size: smaller;
  padding: 5px;
  text-align:center;
  border-radius: 2px;
}