body {
  overflow: hidden;
  margin: 0px;
}

.navbar {
  height: 56px;
}

.body {
  height: calc(100vh - 56px);
}

.welcome {
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.jumbotron {
  margin: auto;
  /*max-width: 60ch;*/
  max-height: 24rem;
}

#grid {
  position: relative;
  overflow-y: scroll;
  display: grid;
  --grid-scale: 1;
  transform: scale(calc(1 / var(--grid-scale))) translate(calc(50% * (1 - var(--grid-scale))), calc(50% * (1 - var(--grid-scale))));
  width: calc(100vw * var(--grid-scale));
  height: calc((100vh - 56px) * var(--grid-scale));
}

.grid {
  background-color: papayawhip;
}

.editor {
  background-color: cornflowerblue;
}

div.cell {
  position: relative;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 10px 0px 10px;
  font-size: 30px;
}

div.cell-editor {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

div.gridline {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 500;
}

div.gridline-vertical {
  width: 0px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

div.gridline-horizontal {
  width: 0px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.tile {
  position: absolute;
  z-index: 1;
  left: -1px;
  top: -1px;
}

.tile-edit {
  cursor: move;
}

.sprite {
  cursor: move;
  position: absolute;
  z-index: 501;
  left: -1px;
  top: -1px;
}

.sprite-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 0.7em;
}

.sprite-menu-button {
  padding: 0rem;
  width: 1.3rem;
  height: 1.3rem;
  line-height: 0.8rem;
}

.tile-select {
  outline: 2px solid rgba(173, 216, 230, 0.6);
  outline-offset: -2px;
}

.sprite-select {
  outline: 2px solid rgba(173, 216, 230, 0.6);
  outline-offset: -2px;
}

#brand {
  cursor: help;
}

.btn-separator:after {
  content: ' ';
  display: block;
  height: 100%;
  width: 3px;
}

.btn-xlg {
  padding: 32px 28px;
  font-size: 24px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.form-control-xlg {
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.75;
  border-radius: .3rem;
}

button.main {
  width: 46%;
}

.alert-sm {
  padding: .5rem 1rem;
}

.quizno {
  opacity: 1;
  z-index: 1000;
  min-width: 150px;
  height:auto;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: #404040;
  color: #F0F0F0;
  font-size: smaller;
  padding: 5px;
  text-align:center;
  border-radius: 2px;
}

.dropdown-menu-source {
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.menu-color {
  display: flex;
  justify-content: space-between;
}

.color-item {
  height: 2.1rem;
  width: 2.1rem;
  padding: 0rem;
  color: white;
}

.info-box {
  padding: 0.15rem 0.6rem;
}

.info-label {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0rem;
}